{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}" />

<section class="sobre-section">
    <div class="sobre-texto">
        <h2>QUEM SOMOS</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, recusandae nostrum earum sunt sapiente
            culpa architecto quibusdam, maiores quasi doloremque pariatur? Dolor debitis asperiores exercitationem modi
            provident adipisci sequi itaque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo hic eaque
            tenetur fuga impedit? Fugit quidem molestiae repudiandae architecto nihil provident illo unde! Vero
            perspiciatis voluptas, ducimus nihil explicabo quia?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, recusandae nostrum earum sunt sapiente
            culpa architecto quibusdam, maiores quasi doloremque pariatur? Dolor debitis asperiores exercitationem modi
            provident adipisci sequi itaque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo hic eaque
            tenetur fuga impedit? Fugit quidem molestiae repudiandae architecto nihil provident illo unde! Vero
            perspiciatis voluptas, ducimus nihil explicabo quia?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo rerum exercitationem non totam, placeat
            numquam? Atque et impedit rem quibusdam est quisquam? Culpa minus eligendi incidunt fuga consectetur
            corrupti aliquam?
        </p>
    </div>
    <div class="sobre-imagem">
        <img src="../static/picture-movie/img/equipe.jpg" alt="Skate">
    </div>
</section>

<section class="desenvolvedor-section">
    <h2>Nossos Desenvolvedores</h2>

    <div class="desenvolvedor-container">
        <div class="desenvolvedor-card">
            <img src="../static/picture-movie/img/desenvolvedores/felipe.jpg" alt="Felipe Riquelme Machado Nobre">
            <h3>Felipe Riquelme Machado Nobre</h3>
            <hr>
            <p>Desenvolvedor Front-end e Back-end</p>
        </div>
        <div class="desenvolvedor-card">
            <img src="../static/picture-movie/img/desenvolvedores/Yuri.jpg" alt="Felipe Riquelme Machado Nobre">
            <h3>Yuri Gonçalves da Silva</h3>
            <hr>
            <p>Design Web</p>
        </div>
        <div class="desenvolvedor-card">
            <img src="../static/picture-movie/img/desenvolvedores/Pedro.jpg" alt="Felipe Riquelme Machado Nobre">
            <h3>Pedro Paulo da Silva Santos</h3>
            <hr>
            <p>Desenvolvedor Front-end</p>
        </div>
        <div class="desenvolvedor-card">
            <img src="../static/picture-movie/img/desenvolvedores/Lucas.jpg" alt="Felipe Riquelme Machado Nobre">
            <h3>Lucas Carlin de Sousa</h3>
            <hr>
            <p>Design Web</p></p>
        </div>
        <div class="desenvolvedor-card">
            <img src="../static/picture-movie/img/desenvolvedores/joão.jpg"Felipe Riquelme Machado Nobre">
            <h3>João Guilherme Gonçalves da Silva</h3>
            <hr>
            <p>Desenvolvedor de Design</p>  
        </div>
    </div>
</section>




{% endblock %}