{% extends "base.html" %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}" />

<!-- Article com conteúdo -->
<section class="content-section">
  <div class="container">
    <article class="content-wrapper">
      <div class="image-section">
        <img
          src="../static/picture-movie/img/desenvolvedores/equipe.jpeg"
          alt="Equipe de desenvolvedores"
          class="spa-image"
        />
      </div>

      <div class="text-section">
        <p class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
          ea magni, voluptatem cum corrupti reprehenderit nam. Eaque facilis
          necessitatibus animi, neque dolorem vitae itaque illo culpa, ad atque,
          sint ducimus? Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Accusantium, dignissimos soluta? Adipisci sint sapiente unde quasi
          accusantium sed quis animi aut quidem ipsam dolores, optio, rem
          excepturi dolorem in dignissimos!
        </p>

        <p class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
          ea magni, voluptatem cum corrupti reprehenderit nam. Eaque facilis
          necessitatibus animi, neque dolorem vitae itaque illo culpa, ad atque,
          sint ducimus? Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Accusantium, dignissimos soluta? Adipisci sint sapiente unde quasi
          accusantium sed quis animi aut quidem ipsam dolores, optio, rem
          excepturi dolorem in dignissimos!
        </p>

        <div class="cta-section">
          <a href="#" class="schedule-btn" onclick="openScheduling()">
            Faça contato com nossa equipe
          </a>
        </div>
      </div>
    </article>
  </div>
</section>

<!-- Section com efeito parallax -->
<section class="parallax-section">
  <div class="overlay"></div>
</section>


{% endblock %}
