{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='project.css') }}" />

<section class="hero" role="banner" aria-label="Mensagem de boas-vindas e chamada para ação">
    <div class="conteudo-hero">
        <h1>Nossos Projetos</h1>
        <p>Faça diferente, seja parte dessa mudança.</p>
        <button class="botao-hero" type="button" aria-label="Faça sua doação">Faça sua colaboração</button>
    </div>
</section>

<section class="story-section">
    <div class="container">
        <h2>Direitos Humanos</h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eius perferendis libero adipisci, magnam
            reiciendis consequuntur similique alias velit voluptates incidunt perspiciatis vel sequi quasi ex cum illum
            ad qui. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus rem placeat facere sint dicta
            similique, minima voluptas. Nostrum quis, corporis doloremque soluta deserunt nulla ut sequi saepe illum
            odit? Architecto! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae sit optio natus unde,
            repellendus ipsa. Minus provident quo incidunt, harum libero laboriosam! Et beatae minima atque neque quis
            magni laborum.
        </p>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eius perferendis libero adipisci, magnam
            reiciendis consequuntur similique alias velit voluptates incidunt perspiciatis vel sequi quasi ex cum illum
            ad qui. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus rem placeat facere sint dicta
            similique, minima voluptas. Nostrum quis, corporis doloremque soluta deserunt nulla ut sequi saepe illum
            odit? Architecto! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae sit optio natus unde,
            repellendus ipsa. Minus provident quo incidunt, harum libero laboriosam! Et beatae minima atque neque quis
            magni laborum.
        </p>
        <a href="/project/direitos-humanos">
            <button>Conheça Mais...</button>
        </a>
    </div>
</section>

<section class="story-section">
    <div class="container">
        <h2>Lorem</h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eius perferendis libero adipisci, magnam
            reiciendis consequuntur similique alias velit voluptates incidunt perspiciatis vel sequi quasi ex cum illum
            ad qui. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus rem placeat facere sint dicta
            similique, minima voluptas. Nostrum quis, corporis doloremque soluta deserunt nulla ut sequi saepe illum
            odit? Architecto! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae sit optio natus unde,
            repellendus ipsa. Minus provident quo incidunt, harum libero laboriosam! Et beatae minima atque neque quis
            magni laborum.
        </p>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eius perferendis libero adipisci, magnam
            reiciendis consequuntur similique alias velit voluptates incidunt perspiciatis vel sequi quasi ex cum illum
            ad qui. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus rem placeat facere sint dicta
            similique, minima voluptas. Nostrum quis, corporis doloremque soluta deserunt nulla ut sequi saepe illum
            odit? Architecto! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae sit optio natus unde,
            repellendus ipsa. Minus provident quo incidunt, harum libero laboriosam! Et beatae minima atque neque quis
            magni laborum.
        </p>
        <a href="../static/picture-movie/img/ajuda.jpg">
            <button>Conheça Mais...</button>
        </a>
    </div>
</section>

<section class="story-section">
    <div class="container">
        <h2>Lorem</h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eius perferendis libero adipisci, magnam
            reiciendis consequuntur similique alias velit voluptates incidunt perspiciatis vel sequi quasi ex cum illum
            ad qui. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus rem placeat facere sint dicta
            similique, minima voluptas. Nostrum quis, corporis doloremque soluta deserunt nulla ut sequi saepe illum
            odit? Architecto! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae sit optio natus unde,
            repellendus ipsa. Minus provident quo incidunt, harum libero laboriosam! Et beatae minima atque neque quis
            magni laborum.
        </p>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eius perferendis libero adipisci, magnam
            reiciendis consequuntur similique alias velit voluptates incidunt perspiciatis vel sequi quasi ex cum illum
            ad qui. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus rem placeat facere sint dicta
            similique, minima voluptas. Nostrum quis, corporis doloremque soluta deserunt nulla ut sequi saepe illum
            odit? Architecto! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae sit optio natus unde,
            repellendus ipsa. Minus provident quo incidunt, harum libero laboriosam! Et beatae minima atque neque quis
            magni laborum.
        </p>
        <a href="../static/picture-movie/img/ajuda.jpg">
            <button>Conheça Mais...</button>
        </a>
    </div>
</section>

<section class="story-section">
    <div class="container">
        <h2>Lorem</h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eius perferendis libero adipisci, magnam
            reiciendis consequuntur similique alias velit voluptates incidunt perspiciatis vel sequi quasi ex cum illum
            ad qui. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus rem placeat facere sint dicta
            similique, minima voluptas. Nostrum quis, corporis doloremque soluta deserunt nulla ut sequi saepe illum
            odit? Architecto! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae sit optio natus unde,
            repellendus ipsa. Minus provident quo incidunt, harum libero laboriosam! Et beatae minima atque neque quis
            magni laborum.
        </p>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eius perferendis libero adipisci, magnam
            reiciendis consequuntur similique alias velit voluptates incidunt perspiciatis vel sequi quasi ex cum illum
            ad qui. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus rem placeat facere sint dicta
            similique, minima voluptas. Nostrum quis, corporis doloremque soluta deserunt nulla ut sequi saepe illum
            odit? Architecto! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae sit optio natus unde,
            repellendus ipsa. Minus provident quo incidunt, harum libero laboriosam! Et beatae minima atque neque quis
            magni laborum.
        </p>
        <a href="../static/picture-movie/img/ajuda.jpg">
            <button>Conheça Mais...</button>
        </a>
    </div>
</section>

<section class="story-section">
    <div class="container">
        <h2>Lorem</h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eius perferendis libero adipisci, magnam
            reiciendis consequuntur similique alias velit voluptates incidunt perspiciatis vel sequi quasi ex cum illum
            ad qui. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus rem placeat facere sint dicta
            similique, minima voluptas. Nostrum quis, corporis doloremque soluta deserunt nulla ut sequi saepe illum
            odit? Architecto! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae sit optio natus unde,
            repellendus ipsa. Minus provident quo incidunt, harum libero laboriosam! Et beatae minima atque neque quis
            magni laborum.
        </p>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eius perferendis libero adipisci, magnam
            reiciendis consequuntur similique alias velit voluptates incidunt perspiciatis vel sequi quasi ex cum illum
            ad qui. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus rem placeat facere sint dicta
            similique, minima voluptas. Nostrum quis, corporis doloremque soluta deserunt nulla ut sequi saepe illum
            odit? Architecto! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae sit optio natus unde,
            repellendus ipsa. Minus provident quo incidunt, harum libero laboriosam! Et beatae minima atque neque quis
            magni laborum.
        </p>
        <a href="../static/picture-movie/img/ajuda.jpg">
            <button>Conheça Mais...</button>
        </a>
    </div>
</section>

{% endblock %}