/* Parallax Section */
.parallax-section {
  position: relative;
  height: 400px;
  background-image: url("../static/picture-movie/img/pessoas-se-ajudando.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; /* <-- Efeito parallax */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.parallax-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 1000px rgba(68, 46, 23, 0.467);
}

/* Content Section */
.content-section {
  padding: 60px 20px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: start;
}

.image-section {
  position: relative;
}

.spa-image {
  width: 100%;
  height: 450px;
  object-fit: cover;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.text-section {
  padding: 20px 0;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 40px;
  color: #3b2e2e;
  text-align: justify;
}

.cta-section {
  margin-top: 50px;
  text-align: center;
}

.schedule-btn {
  font-size: 14px;
  padding: 10px 30px;
  background: transparent;
  border: 1px solid #1e1e1e;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.schedule-btn:hover {
  background-color: #1e1e1e;
  color: #fff;
}

/* Responsividade */
@media (max-width: 768px) {
  .content-wrapper {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .spa-image {
    height: 300px;
  }
}
